* {
  margin: 0
}

#header {
  width: 100vw;
  height: 5vh;
  text-align: center;
  padding: 2.5vh;
  background-color: rgba(0, 0, 0, 0.432);
}

#mainLanding {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#form {
  border: solid black;
  width: 20vw;
  margin-top: 10vh;
  margin-left: 10vw;
}

#map {
  border: solid black;
  width: 45vw;
  float: right;
  margin-right: 10vw;
  margin-top: 10vh;
  height: 60vh;
}
